/***************************************************************************
*                                                                          *
* contented1 - An open source xhtml/css website template by Contented      *
* Designs.  You're free to modify it and use it for any purpose without    *
* cost or obligation. We'd prefer that you leave the link to our website   *
* in the footer but it's not required.                                     *
*                                                                          *
* If you have comments or questions, please contact us at                  *
* http://www.ContentedDesigns.com. Thanks!                                 *
*                                                                          *
* Version: 1.02 (Nov 25, 2012)                                             *
***************************************************************************/

* {
	padding:0;
	margin:0;
}

body {
	color: #666666;
	background-color:#ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:83%;
	margin:20px auto;
	width:760px;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, 
fieldset, address { margin:1em 0;}

h1 {font-size:167%;}

h2 {font-size:139%;}

h3 {font-size:120%;}

h4 {font-size:100%;}

li, dd { margin-left:2em; }

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover {
	background: #5BA150;
}
/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}


a {
	color: #6699FF;
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #3366FF;
	background-color: transparent;
	font-weight: bold;
	text-decoration: underline;
}

#header {
	color: #6699FF;
	background-color: #FFFFFF;
	width:760px;
	clear:both;
}

#title {
	color:#6699FF;
	background-color:#FFFFFF;
	font-size:300%;
	font-weight:bold;
	padding:0px 0px 0px 0px;
	float:left;
}

#contact {
	padding:0px 0px 0px 0px;
	float:right;
}

#contact a {
	color:#6699FF;
	background-color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

#contact a:hover {
	color:#3366FF;
	background-color:#FFFFFF;
	text-decoration:underline;
}

#slogan {
	color:#666666;
	background-color:#FFFFFF;
	font-size:117%;
	font-weight:bold;
	font-style:normal;
	padding:0px 0px 0px 0px;
	width:520px;
	clear:both;
	float:left;
}

#nav {
	line-height:250%;
	padding:14px 0px 4px 0px;
	margin:0 0 5px 0;
	width:760px;
	clear:both;
}

#nav a {
	color: #ffffff;
	background-color:#6699FF;
	font-weight:bold;
	text-decoration:none;
	padding:4px 15px 4px 15px;
	border:1px solid #3366FF;
}

#nav .selected,#nav a:hover {
	color:#ffffff;
	background-color:#3366FF;
	text-decoration:none;
	padding:4px 15px 4px 15px;
}

#content {
	border-top:1px solid #CCCCCC;
	width:760px;
	height: 500px;
	clear:both;
}

#maincontent {
	font-size:100%;
	padding:0px 5px 0px 0px;
	width:550px;
	border-right:1px solid #CCCCCC;
	float:left;
}

#sidecontent {
	font-size:83%;
	padding:5px 0px 0px 0px;
	width:195px;
	float:right;
}

#footer {
	color: #FFFFFF;
	background-color:#6699FF;
	font-size:80%;
	line-height:150%;
	width: 760px;
	clear:both;
}

#footer	a {
	  color: #FFFFFF;
	  background-color: #6699FF;
	  text-decoration: none;
	  }

#footer	a:hover {
	  color: #FFFFFF;
	  background-color: #6699FF;
	  font-weight: bold;
	  text-decoration: underline;
	  }

#copyrightdesign {
	color:#FFFFFF;
	background-color:#6699FF;
	padding:5px 0px 5px 20px;
	width: 580px;
	float:left;
}

#footercontact {
	color:#FFFFFF;
	background-color:#6699FF;
	padding:5px 0px 5px 50px;
	width:110px;
	float:right;
}

/* tables */

table {  
  width: 100%;   
  border: 1px solid #003d4c; 
  color:#333; 
  background-color: #fff;
  clear:both;    
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}
th {
	height: 30px;
	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
	/*
  background-color: #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #003d4c;
  border-bottom: 1px solid #003d4c;
  text-align: center;
  padding:1px;*/
}
table tr td {
  border-right: 1px solid #ccc;
  padding:4px 4px;
  vertical-align:top;
  text-align: center;
}
table tr.altRow td {
  background: #f4f4f4;
}

.boton {
	padding-left: 5px;
	/*float: left;*/
	margin-bottom: 10px;
	padding: 10px;
	font-size: 17px;
	width: 200px;
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 67%, rgba(17,17,17,1) 83%, rgba(43,43,43,1) 93%, rgba(28,28,28,1) 98%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(67%,rgba(0,0,0,1)), color-stop(83%,rgba(17,17,17,1)), color-stop(93%,rgba(43,43,43,1)), color-stop(98%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 67%,rgba(17,17,17,1) 83%,rgba(43,43,43,1) 93%,rgba(28,28,28,1) 98%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 67%,rgba(17,17,17,1) 83%,rgba(43,43,43,1) 93%,rgba(28,28,28,1) 98%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 67%,rgba(17,17,17,1) 83%,rgba(43,43,43,1) 93%,rgba(28,28,28,1) 98%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 67%,rgba(17,17,17,1) 83%,rgba(43,43,43,1) 93%,rgba(28,28,28,1) 98%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.boton:hover {
	padding-left: 5px;
	/*float: left;*/
	width: 200px;
background: rgb(60,95,160); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(60,95,160,1) 0%, rgba(65,104,177,1) 12%, rgba(74,114,188,1) 25%, rgba(57,91,155,1) 39%, rgba(45,72,123,1) 50%, rgba(26,41,70,1) 67%, rgba(34,53,90,1) 83%, rgba(45,72,121,1) 93%, rgba(38,61,104,1) 98%, rgba(35,55,93,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,95,160,1)), color-stop(12%,rgba(65,104,177,1)), color-stop(25%,rgba(74,114,188,1)), color-stop(39%,rgba(57,91,155,1)), color-stop(50%,rgba(45,72,123,1)), color-stop(67%,rgba(26,41,70,1)), color-stop(83%,rgba(34,53,90,1)), color-stop(93%,rgba(45,72,121,1)), color-stop(98%,rgba(38,61,104,1)), color-stop(100%,rgba(35,55,93,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(60,95,160,1) 0%,rgba(65,104,177,1) 12%,rgba(74,114,188,1) 25%,rgba(57,91,155,1) 39%,rgba(45,72,123,1) 50%,rgba(26,41,70,1) 67%,rgba(34,53,90,1) 83%,rgba(45,72,121,1) 93%,rgba(38,61,104,1) 98%,rgba(35,55,93,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(60,95,160,1) 0%,rgba(65,104,177,1) 12%,rgba(74,114,188,1) 25%,rgba(57,91,155,1) 39%,rgba(45,72,123,1) 50%,rgba(26,41,70,1) 67%,rgba(34,53,90,1) 83%,rgba(45,72,121,1) 93%,rgba(38,61,104,1) 98%,rgba(35,55,93,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(60,95,160,1) 0%,rgba(65,104,177,1) 12%,rgba(74,114,188,1) 25%,rgba(57,91,155,1) 39%,rgba(45,72,123,1) 50%,rgba(26,41,70,1) 67%,rgba(34,53,90,1) 83%,rgba(45,72,121,1) 93%,rgba(38,61,104,1) 98%,rgba(35,55,93,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(60,95,160,1) 0%,rgba(65,104,177,1) 12%,rgba(74,114,188,1) 25%,rgba(57,91,155,1) 39%,rgba(45,72,123,1) 50%,rgba(26,41,70,1) 67%,rgba(34,53,90,1) 83%,rgba(45,72,121,1) 93%,rgba(38,61,104,1) 98%,rgba(35,55,93,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5fa0', endColorstr='#23375d',GradientType=0 ); /* IE6-9 */

}
